nav {
    margin: 5px 10px;
}

.charts-header {
    margin: 0px 10px;
}

.charts-body {
    display: block;
    border-top: 1px solid grey;
    margin: 0px 10px;
}

.chart-viewport {
    margin: 30px 0px;
}

.parameters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
}

.description {
    max-width: 50%;
}